<!-- views/partials/footer.handlebars -->

<footer class="text-center text-lg-start fixed-bottom " style="background-color: #454058; color: #ffffff;">
 
  <div class="text-center p-3" >
    Created by Tim Cunningham. Check out his 
    <a class="bg-secondary text-light rounded" href="https://github.com/tcunningham203">GitHub Page.</a>
  </div>

</footer>