{{!-- this toast appears when the username or pass is wrong. relevant js for ALL toasts is in the
public login script--}}
<div class="toast bg-danger text-white text-center " style="position: absolute; " id="incorrect1" data-bs-delay="3300">

  <strong class="me-auto h4 "><i class="bi-exclamation-triangle "></i> Incorrect username or
    password.</strong>
</div>

{{!-- this toast appears when you log in successfully. relevant js for ALL toasts is in the public
login script--}}
<div class="toast bg-success text-white text-center " style="position: absolute; " id="asdf1" data-bs-delay="1500">

  <strong class="me-auto h4 "><i class="bi-check-circle "></i> Welcome back!</strong>
</div>
<br>
<div class="row" style="justify-content:space-evenly">
  <div class="col-lg-6 mt-5">
    <div class="card  border border-white mx-auto " style=" border-radius: 30px;  background: #2f1133; color: #ffffff">
      <div class=" row mx-auto mb-3"
        style="border-radius: 30px;  align-items: center; justify-content:center; background: #2f1133; color: #ffffff">
        <h2 class="text-center"><br>Continue the conversation.</h2>
        <form class="login-form p-3">
          <div class="form-group col-12 mx-auto mt-3">
            <input type="text" class="form-control" id="usernamelogin1" placeholder="Username">
          </div>
          <div class="form-group col-12 mx-auto mt-3">
            <input type="password" class="form-control" id="passwordlogin1" placeholder="Password">
          </div>
          <div class="row">
            <div class="col-lg-6 mt-2 " style="display: flex;justify-content: space-evenly; flex-direction: row;">
              <button class="btn btn-outline-light col-10 mt-2 " type="submit">Log In</button>
            </div>
            <div class="col-lg-6 mt-2 " style="display: flex;justify-content: space-evenly; flex-direction: row;">
              <a href="/signup" id="signupbtn" class="btn btn-outline-light col-10 mt-2 ">Sign Up</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>